<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet" />
  <link href="/dist/output.css" rel="stylesheet">
  <link href="/dist/base.css" rel="stylesheet">
  <link rel="icon" href="data:image/svg+xml,
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'>
    <path d='M50 0c-27.6 0-50 22.4-50 50s22.4 50 50 50 50-22.4 50-50-22.4-50-50-50zm0 80c-17.6 0-32-14.4-32-32s14.4-32 32-32 32 14.4 32 32-14.4 32-32 32zm0-49c-1.1 0-2 .9-2 2v30c0 1.1.9 2 2 2s2-.9 2-2v-30c0-1.1-.9-2-2-2z'/>
</svg>">
  <!-- Primary Meta Tags -->
  <title>Introducing PrvImage: Your
    Self-Hosted Image Storage Solution</title>
  <meta name="title" content="Introducing PrvImage: Your
  Self-Hosted Image Storage Solution" />
  <meta name="description" content="" PrvImage: Your Self-Hosted Image Storage Solution" – A powerful and secure
    self-hosted image storage solution for individuals and businesses, offering complete control over your image data.
    Safeguard your visual assets with PrvImage's robust features and flexible hosting options." />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://privimage.cyclic.cloud/" />
  <meta property="og:title" content="Introducing PrvImage: Your
  Self-Hosted Image Storage Solution" />
  <meta property="og:description" content="" PrvImage: Your Self-Hosted Image Storage Solution" – A powerful and secure
    self-hosted image storage solution for individuals and businesses, offering complete control over your image data.
    Safeguard your visual assets with PrvImage's robust features and flexible hosting options." />
  <meta property="og:image" content="https://metatags.io/images/meta-tags.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://privimage.cyclic.cloud/" />
  <meta property="twitter:title" content="Introducing PrvImage: Your
  Self-Hosted Image Storage Solution" />
  <meta property="twitter:description" content="" PrvImage: Your Self-Hosted Image Storage Solution" – A powerful and
    secure self-hosted image storage solution for individuals and businesses, offering complete control over your image
    data. Safeguard your visual assets with PrvImage's robust features and flexible hosting options." />
  <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" />
</head>

<body class="p-2 bg-gray-50 dark:bg-black">
  <!-- navbar -->

  <nav>
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="/" class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" height="2em"
          viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <style>
            svg {
              fill: #ffffff
            }
          </style>
          <path
            d="M364.2 83.8c-24.4-24.4-64-24.4-88.4 0l-184 184c-42.1 42.1-42.1 110.3 0 152.4s110.3 42.1 152.4 0l152-152c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-152 152c-64 64-167.6 64-231.6 0s-64-167.6 0-231.6l184-184c46.3-46.3 121.3-46.3 167.6 0s46.3 121.3 0 167.6l-176 176c-28.6 28.6-75 28.6-103.6 0s-28.6-75 0-103.6l144-144c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-144 144c-6.7 6.7-6.7 17.7 0 24.4s17.7 6.7 24.4 0l176-176c24.4-24.4 24.4-64 0-88.4z" />
        </svg>
        <span class="ml-2 self-center text-2xl font-semibold whitespace-nowrap dark:text-white">PrivImg</span>
      </a>
      <button data-collapse-toggle="navbar-hamburger" type="button"
        class="inline-flex items-center justify-center p-2 w-10 h-10 ml-3 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-hamburger" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
      <div class="hidden w-full" id="navbar-hamburger">
        <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 dark:bg-black dark:border-gray-700">
          <li>
            <a href="./user/auth/login"
              class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white">Login</a>
          </li>
          <li>
            <a href="./user/auth/register"
              class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- content -->
  <section class="bg-white dark:bg-black">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
      <div class="bg-gray-50 dark:bg-black border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8">
        <h1 class=" text-pink-400 text-3xl md:text-5xl font-extrabold mb-2 drop-shadow-lg"
          style="text-shadow: 2px 2px #ff0000;">Introducing
          PrvImage: Your
          Self-Hosted Image Storage Solution</h1>
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">PrvImage offers a secure and efficient way
          to host and manage your images, giving you full control over your visual assets.</p>
        <a href="https://github.com/Otherwa/PrivImg" target="_blank"
          class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-xl bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
          Learn More
          <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
      <div class="grid md:grid-cols-2 gap-8">
        <div class="bg-gray-50 dark:bg-black border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
          <a href="#"
            class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 mb-2">
            Status: Pending
          </a>
          <h2 class="text-yellow-400 text-3xl font-extrabold mb-2" style="text-shadow: 2px 2px #ff0000;">Secure Image
            Hosting with PrvImage</h2>
          <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">PrvImage Design System empowers you to
            seamlessly integrate and showcase your images while maintaining privacy and control.</p>
        </div>
        <div class="bg-gray-50 dark:bg-black border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
          <a href="#"
            class="bg-purple-100 text-purple-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-purple-400 mb-2">
            Status: Pending
          </a>
          <h2 class="text-yellow-400 text-3xl font-extrabold mb-2" style="text-shadow: 2px 2px #ff0000;">Seamless
            Integration with PrvImage API
          </h2>
          <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">Explore the best practices of using
            PrvImage's APIs to enhance your web and app experiences through efficient image management.</p>

        </div>
      </div>
    </div>
  </section>



  <!-- banner -->
  <div id="bottom-banner" tabindex="-1"
    class="fixed bottom-0 left-0 z-50 flex justify-between w-full p-4 border-t border-gray-200 bg-gray-50 dark:bg-black dark:border-gray-600">
    <div class="flex items-center mx-auto">
      <p class="flex items-center text-sm font-normal text-gray-500 dark:text-gray-400">
        <span
          class="inline-flex p-1 mr-3 bg-gray-200 rounded-full dark:bg-gray-600 w-6 h-6 items-center justify-center">
          <svg class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M18.435 7.546A2.32 2.32 0 0 1 17.7 5.77a3.354 3.354 0 0 0-3.47-3.47 2.322 2.322 0 0 1-1.776-.736 3.357 3.357 0 0 0-4.907 0 2.281 2.281 0 0 1-1.776.736 3.414 3.414 0 0 0-2.489.981 3.372 3.372 0 0 0-.982 2.49 2.319 2.319 0 0 1-.736 1.775 3.36 3.36 0 0 0 0 4.908A2.317 2.317 0 0 1 2.3 14.23a3.356 3.356 0 0 0 3.47 3.47 2.318 2.318 0 0 1 1.777.737 3.36 3.36 0 0 0 4.907 0 2.36 2.36 0 0 1 1.776-.737 3.356 3.356 0 0 0 3.469-3.47 2.319 2.319 0 0 1 .736-1.775 3.359 3.359 0 0 0 0-4.908ZM8.5 5.5a1 1 0 1 1 0 2 1 1 0 0 1 0-2Zm3 9.063a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm2.207-6.856-6 6a1 1 0 0 1-1.414-1.414l6-6a1 1 0 0 1 1.414 1.414Z" />
          </svg>
          <span class="sr-only">So</span>
        </span>
        <span>Are you New to This? <a href="./user/auth/register"
            class="flex items-center ml-0 text-sm font-medium text-blue-600 md:ml-1 md:inline-flex dark:text-blue-500 hover:underline">Become
            a User <svg class="w-3 h-3 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg></a></span>
      </p>
    </div>
    <div class="flex items-center">
      <button data-dismiss-target="#bottom-banner" type="button"
        class="flex-shrink-0 inline-flex justify-center w-7 h-7 items-center text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 dark:hover:bg-gray-600 dark:hover:text-white">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close banner</span>
      </button>
    </div>
  </div> -->
  <!-- banner

  <!-- cookies -->

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine-ie11.js"
    integrity="sha512-6m6AtgVSg7JzStQBuIpqoVuGPVSAK5Sp/ti6ySu6AjRDa1pX8mIl1TwP9QmKXU+4Mhq/73SzOk6mbNvyj9MPzQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</body>

</html>